body {
    padding: 0;
    margin: 0;
}

header {
    background: yellow;
    height: 100px;
    width: 100%;
}

.logo {
    height: 80px;
}

.linkNavegador:link {
    color: black;
    font-size: 36px;
    font-family: monospace;
    text-decoration: none;
    padding: 15px;
    margin-left: 45px;

}

.linkNavegador:visited {
    color: black;
    font-size: 36px;
    font-family: monospace;
    text-decoration: none;
}

.linkNavegador:hover {
    border: white solid 5px;
}

.bienvenida {
    width: 80vw;
}

.bienvenida img {
    width: inherit;
}